html, body { margin: 0; padding: 0; font-family: 'Nunito', sans-serif !important; height: 100%; }
.logo-container { margin-top: 3.5em;}
.copyright a { text-decoration: none; color: white; }
small.copyright {font-weight: 200;}
#login-form, #reset-form, #enrollment-form, #password-update-form { width: 100%; margin: 0 auto; padding-bottom: 4em;}
#login-form .col, #reset-form .col, #enrollment-form .col, #password-update-form .col { padding: 1em;}
footer { position:fixed; bottom:0; width:100%; background-color: #333333; }
footer p { margin-bottom: 0; }
.footer-spacer  { clear: both; height: 120px; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-strike { text-decoration: line-through; }
#wrapper {
    height: 100%;
    width: 100%;
}
#application-nav {
    background-color: #003366 !important;
}
#mainnav {
    background-color: #CC5500  !important;
    font-size: 0.9em !important;
    padding: 0 !important;
}
#mainnav .navbar-brand {
    font-size: 1em !important;
}

.container {
    padding-bottom: 5em !important;
}
main {
    min-height: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#sidenav {
    /* background-color: rgb(180, 207, 216); */
    /* background-color: #0096d1; */
    background-color: #d1e8f3;
    max-width: 230px;
    min-height: 100%;
    font-size: 0.9em !important;
    font-weight: 400 !important;
}

.section-heading {
    border-left: 10px solid black;
    padding-left: 0.5em;
    font-weight: 300;
}


#passwordRequirements {
    color: #000 !important;
}

li.back-link {
    padding-bottom: 25px;
}

#sidebar-nav .active { background-color: #0096d1 !important; color: #fff !important; }

/* DATA TABLE STYLES */
.dataTables_wrapper select, .dataTables_wrapper input[type=search] {
    background-color: white !important;
}

.dataTables_wrapper table {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    border-bottom: none !important;
}
.dataTables_wrapper tbody, .dataTables_wrapper thead {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.dataTables_wrapper thead {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.dataTables_wrapper thead th {
    background-color: rgb(33, 37, 44) !important;
    color: white !important;
    font-weight: 500 !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.dataTables_wrapper td:first-child, .dataTables_wrapper th:first-child {
    padding-left: 1em !important;
}
.dataTables_wrapper td:last-child, .dataTables_wrapper th:last-child {
    padding-right: 1em !important;
}

.dataTables_wrapper tbody td {
    border-bottom: none !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    vertical-align: middle !important;
}

.dataTables_wrapper tbody tr.odd {
    background-color: white !important;
    --bs-table-striped-bg: none !important;
}

.dataTables_wrapper tbody tr.even {
    background-color: rgba(155, 218, 255, 0.314) !important;
}

.dataTables_wrapper thead th:first-child {
    border-top-left-radius: 10px !important;
}

.dataTables_wrapper thead th:last-child {
    border-top-right-radius: 10px !important;
}

/* dark mode css styles */
@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

    input, select, textarea {
        color: #e0e0e0 !important;
        background: #37353b !important;
    }

    .modal-content, .card {
        color: #eee !important;
        background: #121212 !important;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .modal-backdrop {
        background-color: #515151;
    }

    .section-heading {
        border-left: 10px solid #e0e0e0;
    }

    #passwordRequirements {
        color: #fff !important;
    }

    label, .paginate_button, .dataTables_info {
        color: #eee !important;
    }
    .dataTables_wrapper select, .dataTables_wrapper input[type="search"] {
        color: #e0e0e0 !important;
        background: #37353b !important;
    }

    a {
        color: #809fff;
    }
}